:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #e4a0b7;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal container {
    align-items: center;
    text-align: center;
}

.container__aviso {
    font-size: 35px;
    color: var(--cinza-secundario);
    align-items: center;
    text-align: center;
}

.container__titulo {
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario  {
width: 80%;
align-items: center;
margin: 0 10em;
}

.descricao__titulo {
    font-size: 30px;
    color: var(--branco-principal);
    align-items: center;
    text-align: center;
    
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-weight: 700;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-weight: 700;
}
.dispositivos {
    text-align: center;
}
.dispositivos__titulo {
    font-size: 30px;
    color: var(--branco-principal);
    align-items: center;
    text-align: center;
}

:root {
    --branco-principal: #000000;
    --cinza-secundario: #53280f;
    --botao-azul: #167BF7;
    --cor-de-fundo: #ffd39a;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

